*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --hue-neutral: white;
  --hue-wrong: lightcoral;
  --hue-correct: lightgreen;
}

body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
}

#landingTitle {
  text-align: center;
  font-size: 2rem;
}

#landingText {
  text-align: center;
  font-size: 1.5rem;
}

header {
  background-color: darkcyan;
  justify-content: space-between;
}
main {
  background-color: lightblue;
}
footer {
  height: 40px;
  background-color: darkcyan;
  color: white;
  font-size: 2rem;
  text-align: center;
}

#leaderboard {
  width: auto;
  margin: 5px;
  font-size: 2rem;
}

#title {
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

#countdown {
  width: auto;
  background-color: white;
  margin: 5px;
  font-size: 2rem;
  text-align: center;
  border-radius: 5px;
}

#questionCard {
  margin: 20px;
  border-radius: 10px;
  background-color: white;
}

#currentQuestion {
  margin: 0;
  padding: 10px;
  font-size: 2rem;
  width: auto;
  background-color: darkgray;
}

.answer {
  --hue: var(var(--hue-neutral));
  font-size: 1.5rem;
  margin: 10px;
  padding: 5px;
  background-color: var(--hue);
}

.answer.correct {
  --hue: var(--hue-correct);
}
.answer.wrong {
  --hue: var(--hue-wrong);
}
.answer:hover {
  background-color: lightgray;
}

.control-buttons {
  margin: 5px;
}

.hide {
  display: none;
}

#leaderboardTitle {
  font-size: 2rem;
  background-color: darkgray;
}

.user {
  font-size: 1.5rem;
  margin: 10px;
  padding: 5px;
}
